<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Flask App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>
        <h1>The Ghost</h1>
    </header>
    <main>

        <div class="wrapper">
            <h2>The Contents : </h2>
            <ul>
                <li>So, you ever been ghosted? It's like the dating version of disappearing into thin air. One moment you're texting emojis, and the next, you're decoding the silence like it's some ancient hieroglyphics</li>
                <li>"You know you've been ghosted when even Casper, the friendly ghost, wouldn't return your texts. I mean, if a ghost won't haunt your phone, you know you've hit a new low."</li>
                <li>"Have you ever scrolled through someone's profile pics and wondered, 'Am I being haunted by the ghosts of exes past?' It's like they're trying to communicate from the dating afterlife, warning you about potential relationship pitfalls."</li>
                <li>"Meeting your ex after a breakup is like encountering a ghost in broad daylight. You pretend you don't see them, they pretend they don't see you, and both of you end up speed-walking in opposite directions, like you're in some invisible awkward marathon."</li>
              <li>"Trying to understand why you got ghosted is like conducting a seance with a Ouija board. You ask the universe, 'Why did they disappear?' And all you get are confusing messages like 'U-R-Cool-B-U-R-2-Needy.' It's like dating Morse code."</li>
              <li>"When you get ghosted, your friends turn into the Ghostbusters of Love. They gather around, armed with advice and emotional proton packs, ready to banish the dating specter. 'Who you gonna call? Emotional support friends!'"</li>
              <li>"Ever been to a place where you used to date someone, and it feels like you've stepped into a haunted love mansion? You can almost hear the echoes of old conversations, and the waiter gives you a sympathetic look as if to say, 'Yeah, this table has seen some ghosting.'"</li>
              <li>"Sometimes, you don't get a breakup text; you get a 'polite haunting.' They fade away like a phantom, leaving you with unanswered messages and a lingering sense of confusion. It's like they went to ghosting finishing school, where they teach you to disappear with grace."</li>
              <li>"On dating apps, it's not just people you're swiping left on; it's the potential ghosts too. You develop a sixth sense for detecting spectral vibes in profile pictures. 'Oh, he's holding a disappearing act in his third photo. Swipe left!'"</li>
              <li>"In the end, ghosting is like the sitcom of dating - you never know when it's going to end, and the laughs are usually at your own expense. But hey, we've all been haunted at some point. So, if you're ever feeling ghosted, just remember, it's not you, it's them. And who knows, maybe one day you'll find the ghost who's brave enough to stick around and share a hauntingly good love story."</li>
            </ul>
        </div>
    </main>
    <footer></footer>
</body>
</html>