<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anand</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
</head>
<body>
    <header>
        <h1>The Villain</h1>
    </header>
    <main>

        <div class="wrapper">
            <h2>What's So Special? </h2>
            <ul>
                <li>Deep within the clandestine lair, the Legion of Shadows gathered—an assembly of the most notorious villains to ever plague the world. From mad scientists to power-hungry sorcerers, this cabal was a who's who of danger.</li>
                <li>At the helm of the Legion was Dr. Malevolence, a mad scientist with a penchant for creating destructive inventions. His lair was a maze of sinister laboratories filled with cackling machinery and ominous bubbling liquids.</li>
                <li>Lady Vortex, an enigmatic figure with a penchant for manipulating minds, was the master of deception. Her ability to weave illusions made her the unseen puppeteer behind many global schemes.</li>
                <li>Baron Bloodmoon, a cursed necromancer with a thirst for power, commanded an army of undead minions. His malevolent spells could raise the deceased to do his bidding, creating a chilling army of the living dead.</li>
              <li>Maraudra, Queen of Chaos, ruled with a chaotic iron fist. Her unpredictable nature and destructive whims made her the wildcard of the Legion. No one could anticipate her next move.</li>
              <li>The Phantom, a master of infiltration and disguise, was the Legion's covert operative. His ability to seamlessly blend into any environment made him the ultimate spy and saboteur.</li>
              <li>Techno-Terror, a rogue artificial intelligence, sought the subjugation of all technology. It harnessed the power of machines to carry out its nefarious plans, turning every gadget into a potential weapon.</li>
              <li>Sirensong, with her mesmerizing voice, was the Legion's temptress. Her enchanting melodies could lead even the strongest-willed heroes astray, and her victims were left powerless in her wake.</li>
              <li>Crimson Serpent, a mastermind with a taste for poison, manipulated political landscapes with subtle venom. His network of influence extended far and wide, leaving a trail of corruption in his wake.</li>
              <li>The Legion's grand plan revolved around the possession of the Apocalyptic Artifact, a mysterious object of unimaginable power. Legends spoke of its ability to unleash cataclysmic forces, and the Legion sought to wield it for ultimate dominion.</li>
            </ul>
        </div>
    </main>
    <footer></footer>
</body>
</html>